body {
    margin: 0;
    padding: 0;
    background: url("images/library2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    width: 1170px;
    margin: auto;
}

.nav-area {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav-area li {
    display: inline-block;
}

.nav-area li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins; 
    font-size: 14px;
}

.nav-area li a:hover {
    background: rgb(214, 188, 101);
    color: #333;
}
.welcome-text h1 {
    color: #333;
    text-transform: uppercase;
    font-size: 50px;
}
.welcome-text a {
    border: 1px solid #fff;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}

.welcome-text a:hover {
    background: #fff;
    color: #333;
}